body {
    padding-bottom: 50px;
}
.top-bar{
    width: 100%;
    height: 30px;
    background: #141414;
    color: #888;
    line-height: 30px;
}
    .top-bar .player-controls {
        float: left;
    }
        .top-bar .player-controls span{
            cursor: pointer;
            padding: 0 5px;
            -webkit-transition: all linear 0.2s;
        }
        .top-bar .player-controls span:hover {
            color: #EEE;
        }
    .top-bar .player-display {
        float: left;
        float: right;
        margin-left: 50px;
    }
        .top-bar .player-display .player-current-track {
            color: white;
        }
    .top-bar .player {
        float: left;
    }
    .top-bar .player-timeline {
        float: left;
        max-width: 200px;
        width: 200px;
        height: 4px;
        margin-top: 13px;
        background: #555;
        margin-left: 20px;
    }
    .top-bar .player-timeline-control {
        height: 4px;
        background: #999;
    }
.brand h1{
    font-family: Georgia, serif;
    font-size: 50px;
    line-height: 100px;
    text-align: center;
}
.banner{
    width: 100%;
    height: 180px;
    background: black;
    margin-bottom: 100px;
}
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    line-height: 50px;
    text-align: center;
    color: white;
    background: black;
    color: #888;
}
    footer a {
        color: #DDD;
        -webkit-transition: all linear 0.2s;
    }
    footer a:hover {
        color: white;
    }